body {
  background-image: url("photos/alps2.jpg");
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  text-align: center;
}

img{
	width: 600px;
	height: 600px;
}

hr.style1 {
  height: 5px;
  background-color: #0000dd;
}

ol ol{
  text-indent: 20px;
  list-style-position: inside;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1em;
}

nav a {
  color: black;
  font-weight: bold;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 7px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent; 
  border-radius: 50%; 
}

.social-icons .icon-facebook {
  background-image: url('photos/fb_icon.png');
}

.social-icons .icon-twitter {
  background-image: url('photos/Logo_of_Twitter.svg.png');
}

.social-icons .icon-instagram {
  background-image: url('photos/instagram_logo.png');
}





