 table {
        border-collapse: collapse;
        width: 30%;
      }

      th, td {
        text-align: center;
        padding: 8px;
        border: 1px solid white; 
      }

      th {
        background-color: #7db6f0;
        color: white;
      }

      td {
        background-color: #7db6f0;
        color: white;
      }

      td.number {
        background-color: lightblue;
        color: darkblue;
      }