<style type="text/css">
		body {
			background-color: #fff;
			color: #000;
		}

		.container {
		    margin: 0 auto;
			width: 14%;
			border: 1px solid #000;
			padding: 10px;
			background-color: #0f0;
			color: #fff;
			text-align: center;
			font-weight: bold;
			border-radius: 5px;
		}

		.row {
	        margin: 0 auto;
			display: table;
			width: 15%;
			border-spacing: 5px;
			margin-bottom: 10px;
		}

		.cell {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
		}

		.cell-header {
			background-color: #8f8;
			color: #000;
			font-weight: bold;
			border: 1px solid #000;
		}

		.cell-subheader {
			background-color: #8f8;
			color: #000;
			font-weight: bold;
			border: 1px solid #000;
		}

		.cell-marks {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
		}
	</style>